.create-task-border
{
  color: black;
  padding: 6px 8px;
  border: 2px;
  width: 180px;
  border-color: #292929;
  border-style: solid;
  display: inline-block;
}
.create-task-header
{
  padding: 0px 8px;
  width: auto;
  align-self: center;
  display: block;
}
.create-task-labels
{
  padding: 3px 0px;
  width: auto;
  align-self: center;
  display: block;
}
.create-task-inputs
{
  width: 175px;
  align-self: center;
  display: block;
}
.create-task-button
{
  background-color: #04a542;
  color: white;
  padding: 6px 18px;
  text-decoration: none;
  display: inline-block;
  border: 2px;
  border-radius: 4px;
  border-color: #04a542;
  border-style: solid;
}
